.DS_Store
documents/chapter1/TextClassification/*
documents/chapter1/TextClassificationCustom/*
documents/chapter1/TextClassification.zip
documents/chapter1/TextClassificationCustom.zip
*.pdf
*/.idea/*
*.zip
